.tile {
    background-color:rgb(236, 236, 223);
    border-left: solid;
    border-bottom: solid;
    border-color: rgb(87, 87, 87);
    border-width: 10px;
    font-size: 80px;
    height: 130px;
    margin: 0;
    padding: 0;
    text-align: center;
    display: inline-block !important;
}
  
.board {
    width: 520px;
    margin: auto;
}
  
.topRow {
    border-top: solid;
    border-color: rgb(87, 87, 87);
    border-width: 10px;
}
  
.lastCol {
    border-right: solid;
    border-color: rgb(87, 87, 87);
    border-width: 10px;
}
  
.title {
    margin: 1%;
}
  
.button {
    margin: 1%;
}
  
.overLabel {
    color:crimson;
    font-size: 50px;
    margin: 1%;
}
  
.wonLabel {
    color:limegreen;
    font-size: 50px;
    margin: 1%;
}
  
.page {
    display: flex;
}