.tile {
    background-color:rgb(236, 236, 223);
    border: solid;
    border-color: rgb(63, 61, 61);
    border-width: 6px;
    font-size: 60px;
    width: 0px;
    height: 130px;
    margin: 0;
    padding-top: 10px;
    text-align: center;
    display: inline-block !important;
    border-radius: 22px;
    overflow: hidden;
}
  
.board {
    width: 520px;
    margin: auto;
    margin-bottom: 0px;
}

.title {
    margin: 1%;
}
  
.button {
    margin: 1%;
}
  
.overLabel {
    font-size: 50px;
}
  
.wonLabel {
    font-size: 50px;
    margin: 1%;
}

body {
    background-color: rgb(63, 61, 61);
    min-height: 100vh;
}

p {
    color: white !important;
}

.largeNum {
    font-size: 40px;
    padding-top: 25px;
}



@media (max-width: 400px) 
{
    .tile {
        font-size: 40px;
        height: 100px;
        padding-top: 15px;
        border-width: 4px;
    }
      
    .board {
        width: 350px;
    }

    .largeNum {
        font-size: 30px;
        padding-top: 20px;
    }
}